QuanLyLaoDong (1)/QuanLyLaoDong/GUI/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="GetAllDataFromCongTrinh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataFromCongTrinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetAllDataFromCongTrinhResult" nillable="true" type="q1:ArrayOfeCongTrinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataFromNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataFromNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetAllDataFromNhanVienResult" nillable="true" type="q2:ArrayOfeNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataFromPhongBan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataFromPhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetAllDataFromPhongBanResult" nillable="true" type="q3:ArrayOfePhongBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataFromPhanCong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataFromPhanCongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetAllDataFromPhanCongResult" nillable="true" type="q4:ArrayOfePhanCong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="ct" nillable="true" type="q5:CongTrinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNv">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="nv" nillable="true" type="q6:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertNvResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPhongBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="pb" nillable="true" type="q7:PhongBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPhongBanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="pc" nillable="true" type="q8:ePhanCong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPcResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromCongTrinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="ct" nillable="true" type="q9:CongTrinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromCongTrinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remove1datafromCongTrinhResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="nv" nillable="true" type="q10:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remove1datafromNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromPhongBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="pb" nillable="true" type="q11:PhongBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromPhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remove1datafromPhongBanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromPhanCong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="pc" nillable="true" type="q12:ePhanCong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove1datafromPhanCongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remove1datafromPhanCongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seach1CongtrinhbymaCT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mact" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seach1CongtrinhbymaCTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="seach1CongtrinhbymaCTResult" nillable="true" type="q13:ArrayOfeCongTrinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seach1Nhanvienbymanv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seach1NhanvienbymanvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="seach1NhanvienbymanvResult" nillable="true" type="q14:ArrayOfeNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1Nhanvien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="nv" nillable="true" type="q15:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1NhanvienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="change1NhanvienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1CongTrinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="ct" nillable="true" type="q16:CongTrinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1CongTrinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="change1CongTrinhResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1PhongBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="pb" nillable="true" type="q17:PhongBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1PhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="change1PhongBanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1PhanCong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="pc" nillable="true" type="q18:ePhanCong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change1PhanCongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="change1PhanCongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaPBfromMaNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaPBfromMaNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaPBfromMaNVResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaNVfromMAPB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapb" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaNVfromMAPBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="getMaNVfromMAPBResult" nillable="true" type="q19:ArrayOfeNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>